<title>Note Details</title>
{% extends 'base.html' %}

{% block content %}
    <div class="border rounded-pill border-5">
        <h1 class="my-5"><u>{{ note.title }}</u></h1>
        <p>{{ note.text }}</p>
    </div>
    <a href="{% url 'notes.list' %}"><button class="btn btn-primary my-5 mx-3">Back</button></a>
    <a href="{% url 'notes.update' pk=note.id %}"><button class="btn btn-primary my-5 mx-3">Edit</button></a>
    <a href="{% url 'notes.delete' pk=note.id %}"><button class="btn btn-danger my-5 mx-3">Delete</button></a>
{% endblock %}